html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: black;
    color: white;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
}

* {
    box-sizing: border-box;
}

#lineGraph {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 600px;
}

#radarChart {
    grid-column: 2/3;
    grid-row: 1/2;
}

.graph {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.graph>span {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 10px;
    opacity: 0.9;
    padding: 10px;
}

.graph>i {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: right;
    font-size: 10px;
    opacity: 0.9;
    padding: 10px;
    font-style: normal;
}

.graph>svg {
    grid-column: 1/2;
    grid-row: 1/2;
}

.graph .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}










/*#values {
    display: none; 
}


canvas {
    border: 1px solid white;
}*/


/*

.flat-graph {
    width: 400px;
    height: 100px;
    display: grid;
}


.flat-graph>canvas {
    grid-column: 1/2;
    grid-row: 1/2;
}

.flat-graph>span {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1000;
    opacity: 0.8;
    padding: 5px;
    font-size: 10px;
}*/